[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-bufferline"]
	path = bundle/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "bundle/MatchTagAlways"]
	path = bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "pack/my_plugins/start/vim-l9"]
	path = pack/my_plugins/start/vim-l9
	url = https://github.com/eparreno/vim-l9
[submodule "pack/my_plugins/start/vim-fugitive"]
	path = pack/my_plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/my_plugins/start/vim-airline"]
	path = pack/my_plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/my_plugins/start/vim-airline-themes"]
	path = pack/my_plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/my_plugins/start/vim-bufferline"]
	path = pack/my_plugins/start/vim-bufferline
	url = https://github.com/bling/vim-bufferline
[submodule "pack/my_plugins/start/YouCompleteMe"]
	path = pack/my_plugins/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "pack/my_plugins/start/MatchTagAlways"]
	path = pack/my_plugins/start/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways
[submodule "pack/my_plugins/start/vim-javascript"]
	path = pack/my_plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "pack/my_plugins/start/nerdtree"]
	path = pack/my_plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/my_plugins/start/vim-surround"]
	path = pack/my_plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/my_plugins/start/tern_for_vim"]
	path = pack/my_plugins/start/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
[submodule "pack/my_plugins/start/powerline"]
	path = pack/my_plugins/start/powerline
	url = https://github.com/powerline/powerline
[submodule "pack/my_plugins/start/diffchar.vim"]
	path = pack/my_plugins/start/diffchar.vim
	url = https://github.com/rickhowe/diffchar.vim
[submodule "pack/my_plugins/start/ale"]
	path = pack/my_plugins/start/ale
	url = https://github.com/w0rp/ale
[submodule "pack/my_plugins/start/dart-vim-plugin"]
	path = pack/my_plugins/start/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin
[submodule "pack/my_plugins/start/UltiSnips"]
	path = pack/my_plugins/start/UltiSnips
	url = https://github.com/sirver/UltiSnips
[submodule "pack/my_plugins/start/vim-go"]
	path = pack/my_plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/my_plugins/start/vim-snippets"]
	path = pack/my_plugins/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "fzf"]
	path = pack/my_plugins/start/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/my_plugins/start/md-img-paste.vim"]
	path = pack/my_plugins/start/md-img-paste.vim
	url = https://github.com/ferrine/md-img-paste.vim
[submodule "pack/my_plugins/start/vim-markdown"]
	path = pack/my_plugins/start/vim-markdown
	url = https://github.com/gabrielelana/vim-markdown
[submodule "pack/my_plugins/start/fzf.vim"]
	path = pack/my_plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/my_plugins/start/tagbar"]
	path = pack/my_plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "pack/my_plugins/start/vim-signature"]
	path = pack/my_plugins/start/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "pack/my_plugins/start/lexima.vim"]
	path = pack/my_plugins/start/lexima.vim
	url = https://github.com/cohama/lexima.vim
[submodule "pack/my_plugins/start/ListToggle"]
	path = pack/my_plugins/start/ListToggle
	url = https://github.com/Valloric/ListToggle
[submodule "colors/Apprentice"]
	path = colors/Apprentice
	url = https://github.com/romainl/Apprentice
[submodule "colors/git/sorcerer"]
	path = colors/git/sorcerer
	url = https://github.com/vim-scripts/Sorcerer
